<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="KoreaServerList" value="13.124.0.0|13.127.255.255|52.64.0.0|52.79.255.255" />
    <add key="JapanServerList" value="13.112.0.0|13.115.255.255|52.68.0.0|52.69.255.255|52.192.0.0|52.193.255.255|54.176.0.0|54.191.255.255|52.196.0.0|52.199.255.255" />
    <add key="USEast1ServerList" value="34.192.0.0|34.255.255.255|52.0.0.0|52.31.255.255|52.84.0.0|52.95.255.255|52.192.0.0|52.223.255.255|54.72.0.0|52.95.255.255|54.160.0.0|54.175.255.255|54.208.0.0|54.211.255.255|184.72.0.0|184.73.255.255" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>